*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
.box{
    background-color: black;
    width: 18vw;
    height: 30vw;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 16px 15px 3px rgba(0, 0, 0, 0.4);
  }
  
  .history{
    overflow: auto;
    height: 100px;
    width: 80px;
    cursor:default;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: white;
  }
  .history::-webkit-scrollbar {
    display: none;
  }
  
  .display{
    height: 7vw;
    display: flex;
    background-color: gray;
    margin-bottom: 2vw;
    border-radius: 1rem;
    padding: 1vw;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .displayCalc{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.8vw;
    color: white;
  }
  
  .calcbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .calcbutton{
    cursor: pointer;
    background: #a5a5a5;
    border-radius: 50%;
    padding: 1px;
    height: 3.2vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
  }
  
  .support {
    background-color: #866242;
  }
  
  .hasil {
    background-color: orange;
    grid-column: 3/5;
    border-radius: 3vw;
  }
  
  .nol {
    grid-column: 1/3;
    border-radius: 3vw;
  }
  
  .operator {
    background-color: orange;
  }